<!DOCTYPE html>
<html lang="ko" manifest="">
	<head>
		<title>아셀교회</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- ExtJS 4.1.1 Files -->
		<link rel="stylesheet" href="core/ver/4.1.1-rc2/css/ext-all-gray.css"/>
		<link rel="stylesheet" href="resources/css/default.css"/>
		<link rel="stylesheet" href="resources/css/icon.css"/>
		<link rel="stylesheet" href="ux/css/CheckHeader.css"/>
	</head>
	<body onContextMenu="return false">{{{body}}}</body>
</html>