<!DOCTYPE html>
<html lang="ko" manifest="">
	<head>
		<title>hotplace 관리자 로그인</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- ExtJS 4.1.1 Files -->
		<link rel="stylesheet" href="core/ver/4.1.1-rc2/css/ext-all-gray.css"/>
		<link rel="stylesheet" href="resources/css/default.css"/>
		<link rel="stylesheet" href="resources/css/icon.css"/>
	
		<script src="core/ver/4.1.1-rc2/js/ext-all.js"></script>

		<!-- locale -->
		<script src="core/locale/ext-lang-ko.js"></script>
		<script src="resources/js/login.js"></script>


	</head>
	<body onContextMenu="return false"></body>
</html>





