.icon-search {background-image: url(../images/search.gif) !important; }
.icon-add {background-image : url(../images/add.png) !important;}
.icon-del {background-image : url(../images/delete.png) !important;}
.icon-modi {background-image : url(../images/modify.gif) !important;}
.icon-user {background-image : url(../images/icon_user.gif) !important;}
.icon-window {background-image : url(../images/new_window.gif) !important;}
.tree-expand {background-image : url(../images/tree_expand.gif) !important;}
.tree-collapse {background-image : url(../images/tree_collapse.gif) !important;}
.reg {background-image : url(../images/text_edit.gif) !important;}